In [1]:
import pandas as pd

In [6]:
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

In [7]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [8]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

---

### 1. 각 데이터의 ct 컬럼을 시간으로 인식할 수 있게 data type을 변경하고, <br><br> video 데이터의 video name의 각 value마다 몇 개의 데이터씩 가지고 있는지 확인하라

In [9]:
channel['ct'] = pd.to_datetime(channel['ct'])
channel.value_counts()

channelid                 subcnt   viewcnt    videocnt  ct                   channelname
UCDV9zgWo7b6nPg7i49oRQ5Q  914000   99695611   83        2021-10-13 09:41:36  논리왕 전기           3
UCkQCwnkQfgSuPTTnw_Y7v7w  1360000  424603971  740       2021-10-13 09:41:37  꽈뚜룹              3
UCI9W73BWje69k7f1m_I4mbQ  16000    227884     50        2021-10-13 09:41:37  형사!탐정되다          3
UCEI4rb8YldV8v0dVUSo9ToQ  260000   29057973   76        2021-10-13 09:41:36  야전삽짱재            3
UCqwNCDzQBfw2seMRJpL-RWg  323000   72638611   216       2021-10-13 09:41:36  츄정ChuJeong       3
                                                                                             ..
UCKOeR5Evsupc77nPL3qCMnw  15300    376357     21        2021-10-22 09:01:06  릴펄 Lilpearl      1
                                                        2021-10-22 03:01:03  릴펄 Lilpearl      1
                          15100    376357     21        2021-10-21 21:01:03  릴펄 Lilpearl      1
                          15000    376357     21        2021-10-21 15:01:05  릴펄 Lilpearl      1
UCs9H--14toIRdJQAD9qz9tA  471000   129074866  550       2021-10-09 21:01:04  곽토리 kwak tori    1
Length: 1374, dtype: int64

In [14]:
video['ct'] = pd.to_datetime(video['ct'])
video['ct'].value_counts()

2021-10-30 21:20:04    4
2021-10-25 22:20:03    4
2021-10-25 10:00:03    4
2021-10-25 08:30:03    4
2021-10-25 06:30:03    4
                      ..
2021-10-09 21:30:03    1
2021-10-09 21:40:03    1
2021-10-09 22:00:04    1
2021-10-09 22:10:03    1
2021-11-01 14:00:05    1
Name: ct, Length: 7741, dtype: int64

In [15]:
video.value_counts()

videopk      viewcnt  likecnt  dislikecnt  favoritecnt  cmcnt  ct                   videoname
c5JQp6xafqc  2228250  34559    849         0            7191   2021-10-13 09:41:37   공범 EP1      2
23QQ1ru9YQg  1408005  20484    554         0            8567   2021-10-13 09:41:37   공범 EP2      2
             11153    812      4           0            281    2021-10-09 19:10:03   공범 EP2      1
c5JQp6xafqc  1228392  25526    561         0            5716   2021-10-09 16:40:03   공범 EP1      1
             1177165  24776    533         0            5516   2021-10-09 12:20:03   공범 EP1      1
                                                                                                ..
GygoAk1hDU0  1303520  20207    405         0            12285  2021-10-18 22:00:03   공범 EP3      1
             1303960  20209    405         0            12286  2021-10-18 22:10:04   공범 EP3      1
             1304373  20214    405         0            12287  2021-10-18 22:20:04   공범 EP3      1
             1304812  20220    405         0            12288  2021-10-18 22:30:03   공범 EP3      1
yZt-h-KcmUE  1289088  25616    3621        0            31663  2021-11-01 15:30:05   공범 EP8      1
Length: 15199, dtype: int64

In [16]:
video.videoname.value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

---

### 2. 수집된 각 video의 가장 최신화된 날짜의 view count 값을 출력하라

In [17]:
video.columns

Index(['videopk', 'viewcnt', 'likecnt', 'dislikecnt', 'favoritecnt', 'cmcnt',
       'ct', 'videoname'],
      dtype='object')

In [19]:
answer = video.sort_values(['videoname', 'ct'])
answer

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [20]:
answer = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')
answer

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [21]:
answer = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']]
answer

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

In [23]:
video.sort_values(['videoname', 'ct'])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [24]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [25]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
3496,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,공범 EP2
6696,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,공범 EP3
9264,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,공범 EP4
11544,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,공범 EP5
13661,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,공범 EP6
13106,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,공범 EP7
14935,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,공범 EP8

In [27]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [28]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [29]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt', 'ct']]

      videoname  viewcnt                  ct
3491     공범 EP1  3180532 2021-11-01 15:30:03
6695     공범 EP2  2199328 2021-11-01 15:30:03
9263     공범 EP3  1671294 2021-11-01 15:30:03
11543    공범 EP4  1818493 2021-11-01 15:30:03
13105    공범 EP5  1503435 2021-11-01 15:30:04
14934    공범 EP6  1750222 2021-11-01 15:30:04
13660    공범 EP7  1630200 2021-11-01 15:30:05
15200    공범 EP8  1289088 2021-11-01 15:30:05

In [35]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt', 'ct']].reset_index(drop=True)

  videoname  viewcnt                  ct
0    공범 EP1  3180532 2021-11-01 15:30:03
1    공범 EP2  2199328 2021-11-01 15:30:03
2    공범 EP3  1671294 2021-11-01 15:30:03
3    공범 EP4  1818493 2021-11-01 15:30:03
4    공범 EP5  1503435 2021-11-01 15:30:04
5    공범 EP6  1750222 2021-11-01 15:30:04
6    공범 EP7  1630200 2021-11-01 15:30:05
7    공범 EP8  1289088 2021-11-01 15:30:05

---

### 3. Channel 데이터 중 2021-10-03일 이후 각 채널의 처음 기록 되었던 구독자 수를 출력하라

In [36]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [37]:
channel['ct']>=pd.to_datetime('2021-10-03')

0       False
1       False
2       False
3       False
4       False
        ...
1390     True
1391     True
1392     True
1393     True
1394     True
Name: ct, Length: 1395, dtype: bool

In [39]:
channel[channel['ct']>=pd.to_datetime('2021-10-03')]

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
13,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 09:01:04,꽈뚜룹
14,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 15:01:04,꽈뚜룹
15,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 21:01:04,꽈뚜룹
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [43]:
channel[channel.ct>=pd.to_datetime('2021-10-03')].sort_values(['ct', 'channelname']).drop_duplicates('channelname')

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,와글와글 WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,조나단
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,형사!탐정되다
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,곽토리 kwak tori
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹

In [45]:
target = channel[channel.ct>=pd.to_datetime('2021-10-03')].sort_values(['channelname', 'ct']).drop_duplicates('channelname')
a = target[['channelname', 'subcnt']].reset_index(drop=True)
a

        channelname   subcnt
0     Balming Tiger    54300
1     곽토리 kwak tori   471000
2        김농밀의 농밀한 삶     7520
3               꽈뚜룹  1330000
4            논리왕 전기   922000
5       릴펄 Lilpearl    10100
6             야전삽짱재   257000
7   와글와글 WagleWagle    55000
8               조나단   215000
9        츄정ChuJeong   322000
10          형사!탐정되다    14900

---

### 4. 각 채널의 2021-10-03  03:00:00 ~ 2021-11-01  15:00:00 까지 구독자 수의 증가량을 구하여라

In [46]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [47]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [69]:
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']
start

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,와글와글 WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,조나단
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,형사!탐정되다
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,곽토리 kwak tori
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger

In [70]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
end

,channelid,subcnt,viewcnt,videocnt,ct,channelname
130,UCkQCwnkQfgSuPTTnw_Y7v7w,1400000,440372648,746,2021-11-01 15:01:08,꽈뚜룹
257,UCEI4rb8YldV8v0dVUSo9ToQ,268000,30724301,80,2021-11-01 15:01:03,야전삽짱재
384,UCqwNCDzQBfw2seMRJpL-RWg,323000,74542471,223,2021-11-01 15:01:03,츄정ChuJeong
511,UCDV9zgWo7b6nPg7i49oRQ5Q,911000,101255959,84,2021-11-01 15:01:04,논리왕 전기
638,UClu0udsIHkalM416ttWe_Zw,55000,4710150,107,2021-11-01 15:01:04,와글와글 WagleWagle
765,UCM9Rx3EqBJ-jMhD2E8Gjb4g,227000,16810097,64,2021-11-01 15:01:04,조나단
892,UCI9W73BWje69k7f1m_I4mbQ,25200,840670,47,2021-11-01 15:01:04,형사!탐정되다
1019,UCOYhhfLMGY8OjsbfGNVf7Lw,9060,1414920,16,2021-11-01 15:01:05,김농밀의 농밀한 삶
1146,UCKOeR5Evsupc77nPL3qCMnw,21100,597680,8,2021-11-01 15:01:05,릴펄 Lilpearl
1273,UCs9H--14toIRdJQAD9qz9tA,469000,130097921,563,2021-11-01 15:01:05,곽토리 kwak tori
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [71]:
channel_end = end[['channelname', 'subcnt']].reset_index(drop=True)
channel_end.columns = ['channelname', 'end_date']
channel_end

        channelname  end_date
0               꽈뚜룹   1400000
1             야전삽짱재    268000
2        츄정ChuJeong    323000
3            논리왕 전기    911000
4   와글와글 WagleWagle     55000
5               조나단    227000
6           형사!탐정되다     25200
7        김농밀의 농밀한 삶      9060
8       릴펄 Lilpearl     21100
9     곽토리 kwak tori    469000
10    Balming Tiger     56800

In [72]:
channel_start = start[['channelname', 'subcnt']].reset_index(drop=True)
channel_start.columns = ['channelname', 'start_date']
channel_start

        channelname  start_date
0               꽈뚜룹     1330000
1             야전삽짱재      257000
2        츄정ChuJeong      322000
3            논리왕 전기      922000
4   와글와글 WagleWagle       55000
5               조나단      215000
6           형사!탐정되다       14900
7        김농밀의 농밀한 삶        7520
8       릴펄 Lilpearl       10100
9     곽토리 kwak tori      471000
10    Balming Tiger       54300

In [73]:
answer_channel = pd.merge(channel_start, channel_end)
answer_channel

        channelname  start_date  end_date
0               꽈뚜룹     1330000   1400000
1             야전삽짱재      257000    268000
2        츄정ChuJeong      322000    323000
3            논리왕 전기      922000    911000
4   와글와글 WagleWagle       55000     55000
5               조나단      215000    227000
6           형사!탐정되다       14900     25200
7        김농밀의 농밀한 삶        7520      9060
8       릴펄 Lilpearl       10100     21100
9     곽토리 kwak tori      471000    469000
10    Balming Tiger       54300     56800

In [74]:
answer_channel['del'] = answer_channel['end_date'] - answer_channel['start_date']
result = answer_channel[['channelname', 'del']]
result

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

---

### 5. 각 비디오는 10분 간격으로 구독자 수, 좋아요, 싫어요 수, 댓글 수가 수집된 것으로 알려져 있다. <br><br> 공범EP1 의 비디오 정보 데이터 중 수집 간격이 5분 이하, 20분 이상인 데이터 구간의 시각을 모두 출력하라.

In [77]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [81]:
video.columns

Index(['videopk', 'viewcnt', 'likecnt', 'dislikecnt', 'favoritecnt', 'cmcnt',
       'ct', 'videoname'],
      dtype='object')

In [82]:
video.videoname.values

array([' 공범 EP1', ' 공범 EP1', ' 공범 EP1', ..., ' 공범 EP8', ' 공범 EP8',
       ' 공범 EP8'], dtype=object)

In [83]:
video[video.videoname == " 공범 EP1"]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [101]:
ep_1 = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)
ep_1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [88]:
a = video[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)
a

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

- str.contains() : 괄호 안 문자열 포함하는 데이터 출력

In [89]:
ep_1.ct.diff(1)

0                  NaT
1      0 days 00:09:59
2      0 days 00:10:01
3      0 days 00:10:00
4      0 days 00:10:00
             ...
3487   0 days 00:10:00
3488   0 days 00:09:59
3489   0 days 00:10:00
3490   0 days 00:09:59
3491   0 days 00:10:01
Name: ct, Length: 3492, dtype: timedelta64[ns]

In [91]:
ep_1.ct.diff()

0                  NaT
1      0 days 00:09:59
2      0 days 00:10:01
3      0 days 00:10:00
4      0 days 00:10:00
             ...
3487   0 days 00:10:00
3488   0 days 00:09:59
3489   0 days 00:10:00
3490   0 days 00:09:59
3491   0 days 00:10:01
Name: ct, Length: 3492, dtype: timedelta64[ns]

- diff() : 앞의 값과 차이값 구하기

In [92]:
import datetime

In [93]:
ep_1.ct.diff() >= datetime.timedelta(minutes=20) # timedelta, 두 date, time 또는 datetime 인스턴스 간 차이를 마이크로초 해상도로 나타내는 기간

0       False
1       False
2       False
3       False
4       False
        ...
3487    False
3488    False
3489    False
3490    False
3491    False
Name: ct, Length: 3492, dtype: bool

In [95]:
ep_1.ct.diff(1) <= datetime.timedelta(minutes=5)

0       False
1       False
2       False
3       False
4       False
        ...
3487    False
3488    False
3489    False
3490    False
3491    False
Name: ct, Length: 3492, dtype: bool

In [96]:
ep_1[(ep_1.ct.diff(1)>=datetime.timedelta(minutes=20)) | (ep_1.ct.diff(1)<= datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [103]:
answer = ep_1[ep_1.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]
answer

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

-----

### 6. 각 에피소드의 시작 날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [106]:
start_date = video.sort_values(['ct', 'videoname'])
start_date

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [107]:
start_date = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')
start_date

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
3496,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,공범 EP2
6696,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,공범 EP3
9264,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,공범 EP4
11544,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,공범 EP5
13661,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,공범 EP6
13106,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,공범 EP7
14935,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,공범 EP8

In [108]:
start_date = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct', 'videoname']]
start_date

                       ct videoname
10    2021-10-07 19:10:03    공범 EP1
3496  2021-10-09 19:10:03    공범 EP2
6696  2021-10-14 19:10:04    공범 EP3
9264  2021-10-16 19:10:04    공범 EP4
11544 2021-10-21 19:10:04    공범 EP5
13661 2021-10-23 19:10:04    공범 EP6
13106 2021-10-28 19:10:04    공범 EP7
14935 2021-10-30 19:20:04    공범 EP8

In [111]:
start_date['date'] = start_date.ct.dt.date
start_date

                       ct videoname        date
10    2021-10-07 19:10:03    공범 EP1  2021-10-07
3496  2021-10-09 19:10:03    공범 EP2  2021-10-09
6696  2021-10-14 19:10:04    공범 EP3  2021-10-14
9264  2021-10-16 19:10:04    공범 EP4  2021-10-16
11544 2021-10-21 19:10:04    공범 EP5  2021-10-21
13661 2021-10-23 19:10:04    공범 EP6  2021-10-23
13106 2021-10-28 19:10:04    공범 EP7  2021-10-28
14935 2021-10-30 19:20:04    공범 EP8  2021-10-30

In [112]:
answer = start_date[['date', 'videoname']]
answer

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

----

### 7. "공범" 컨텐츠의 경우 19:00 시에 공개되는 것으로 알려져 있다. <br><br>공개된 날 21시의 viewcnt, ct, videoname으로 구성된 데이터 프레임을 viewcnt 기준으로 내림차순 정렬하여 출력하라.

In [117]:
video['time'] = video.ct.dt.hour
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16

In [118]:
video[video.time==21]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
21,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,공범 EP1,21
22,c5JQp6xafqc,129841,6519,83,0,1522,2021-10-07 21:10:03,공범 EP1,21
23,c5JQp6xafqc,139487,7004,105,0,1627,2021-10-07 21:20:03,공범 EP1,21
24,c5JQp6xafqc,147763,7444,112,0,1701,2021-10-07 21:30:02,공범 EP1,21
25,c5JQp6xafqc,159899,7861,117,0,1803,2021-10-07 21:40:03,공범 EP1,21
...,...,...,...,...,...,...,...,...,...
15090,yZt-h-KcmUE,1159021,24543,3446,0,30092,2021-10-31 21:10:07,공범 EP8,21
15091,yZt-h-KcmUE,1161886,24568,3446,0,30131,2021-10-31 21:20:05,공범 EP8,21
15092,yZt-h-KcmUE,1165092,24591,3447,0,30165,2021-10-31 21:30:05,공범 EP8,21
15093,yZt-h-KcmUE,1167818,24614,3450,0,30185,2021-10-31 21:40:06,공범 EP8,21
15094,yZt-h-KcmUE,1170183,24633,3453,0,30220,2021-10-31 21:50:04,공범 EP8,21

In [127]:
video[video.time==2].sort_values(['viewcnt'], ascending=False).drop_duplicates('videoname')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
3415,c5JQp6xafqc,3171816,40987,1109,0,7668,2021-11-01 02:50:02,공범 EP1,2
6619,23QQ1ru9YQg,2192784,25526,758,0,9177,2021-11-01 02:50:02,공범 EP2,2
11467,bK0_3Vbfvs8,1812094,22666,405,0,16963,2021-11-01 02:50:03,공범 EP4,2
14858,AxGKHmXyuAE,1741036,24441,387,0,13011,2021-11-01 02:50:04,공범 EP6,2
9187,GygoAk1hDU0,1664371,22679,506,0,12504,2021-11-01 02:50:03,공범 EP3,2
13584,QUjQbgj5IXM,1611903,29257,393,0,18418,2021-11-01 02:50:04,공범 EP7,2
13029,hv7FBjskAu0,1496663,19892,416,0,12441,2021-11-01 02:50:04,공범 EP5,2
15124,yZt-h-KcmUE,1231398,25206,3531,0,30877,2021-11-01 02:50:04,공범 EP8,2

In [128]:
video[video.time==2].sort_values(['viewcnt'], ascending=False).drop_duplicates('videoname')[['viewcnt', 'ct', 'videoname']]

       viewcnt                  ct videoname
3415   3171816 2021-11-01 02:50:02    공범 EP1
6619   2192784 2021-11-01 02:50:02    공범 EP2
11467  1812094 2021-11-01 02:50:03    공범 EP4
14858  1741036 2021-11-01 02:50:04    공범 EP6
9187   1664371 2021-11-01 02:50:03    공범 EP3
13584  1611903 2021-11-01 02:50:04    공범 EP7
13029  1496663 2021-11-01 02:50:04    공범 EP5
15124  1231398 2021-11-01 02:50:04    공범 EP8

In [130]:
video[video.time==2].sort_values(['viewcnt'], ascending=False).drop_duplicates('videoname')[['videoname', 'viewcnt', 'ct']].reset_index(drop=True)

  videoname  viewcnt                  ct
0    공범 EP1  3171816 2021-11-01 02:50:02
1    공범 EP2  2192784 2021-11-01 02:50:02
2    공범 EP4  1812094 2021-11-01 02:50:03
3    공범 EP6  1741036 2021-11-01 02:50:04
4    공범 EP3  1664371 2021-11-01 02:50:03
5    공범 EP7  1611903 2021-11-01 02:50:04
6    공범 EP5  1496663 2021-11-01 02:50:04
7    공범 EP8  1231398 2021-11-01 02:50:04

---

### 8. video 정보의 가장 최근 데이터에서 각 에피소드의 싫어요/ 좋아요 비율로 ratio 컬럼을 만들고, <br><br> videoname, ratio로 구성된 데이터 프레임을 ratio 기준으로 오름차순 정렬하라

In [131]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16

In [132]:
video['ratio'] = video.dislikecnt / video.likecnt
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15,0.023167
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15,0.023184
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15,0.023295
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15,0.023302
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16,0.023312
...,...,...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,14,0.141310
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8,15,0.141333
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8,15,0.141384
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8,15,0.141334
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15,0.141357

In [133]:
video.drop_duplicates('videoname', keep='last')
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15,0.023167
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15,0.023184
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15,0.023295
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15,0.023302
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16,0.023312
...,...,...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,14,0.141310
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8,15,0.141333
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8,15,0.141384
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8,15,0.141334
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15,0.141357

In [142]:
target = video.sort_values(by='ct').drop_duplicates('videoname', keep='last')

In [143]:
target

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,15,0.017971
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,15,0.027118
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,15,0.022360
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,15,0.029844
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,15,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,15,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,15,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15,0.141357

In [144]:
target.sort_values('ratio')[['videoname', 'ratio']].reset_index(drop=True)

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

---

### 9. 2021-11-01 00:00:00 ~ 15:00:00 까지 각 에피소드 별 viewcnt 의 증가량을 데이터 프레임으로 만드시오

In [145]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15,0.023167
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15,0.023184
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15,0.023295
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15,0.023302
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16,0.023312

In [146]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

start, end

(Timestamp('2021-11-01 00:00:00'), Timestamp('2021-11-01 15:00:00'))

In [147]:
(video.ct >= start) & (video.ct <= end)

0        False
1        False
2        False
3        False
4        False
         ...
15196     True
15197    False
15198    False
15199    False
15200    False
Name: ct, Length: 15201, dtype: bool

In [156]:
target = video[(video.ct>=start)&(video.ct<=end)].reset_index(drop=True)

In [157]:
def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname', 'viewcnt']].groupby('videoname').agg(check)
answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

---

### 10. video 데이터 중 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 video name을 구하여라

In [158]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15,0.023167
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15,0.023184
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15,0.023295
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15,0.023302
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16,0.023312

In [163]:
answer = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
result = answer[['videoname', 'ct']]
result

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

In [165]:
set(video.index)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...}

In [166]:
set(video.drop_duplicates().index)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...}

In [170]:
video.index.isin([1])

array([False,  True, False, ..., False, False, False])

In [171]:
video.index.isin(set(video.index) - set(video.index.drop_duplicates()))

array([False, False, False, ..., False, False, False])

In [175]:
video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,9,0.024567
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2,9,0.027045