In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv")
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

---

### 1. 주어진 전체 기간의 각 나라별 골득 점수 상위 5개 국가와 그 득점 수를 데이터 프레임 형태로 출력하라

In [10]:
df.groupby('Country').sum().sort_values('Goals', ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

---

### 2. Years 컬럼은 년도 - 년도 형식으로 구성되어 있고, 각 년도는 4자리 숫자이다. <br><br> 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇 건인지 출력하라

In [14]:
df['year_list'] = df.Years.str.split('-')

In [15]:
def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

df['check'] = df['year_list'].apply(checkFour)
result = len(df[df.check==False])
result

45

---

### 3. Q3에서 발생한 예외 케이스를 제외한 데이터 프레임을 df2라고 정의하고, <br><br> 데이터의 행 숫자를 출력하라.

In [16]:
df2 = df[df.check==True].reset_index(drop=True)
df2.shape[0]

1250

---

### 4. 월드컵 출전 횟수를 나타내는 LenCup 컬럼을 추가하고, 4회 출전한 선수의 숫자를 구하여라

In [17]:
df2.head()

,Player,Goals,Years,Country,year_list,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True

In [18]:
df2['LenCup'] = df2['year_list'].str.len()
df2

,Player,Goals,Years,Country,year_list,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

In [20]:
result = df2['LenCup'].value_counts()
result

1    779
2    353
3    102
4     16
Name: LenCup, dtype: int64

---

### 5. 유고슬라비아 국가의 월드컵 출전 횟수가 2회인 선수들의 숫자를 구하여라

In [21]:
df2.head()

,Player,Goals,Years,Country,year_list,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4

In [31]:
len(df2[(df2.LenCup==2)&(df2.Country=="Yugoslavia")])

7

---

### 6. 2002년도에 출전한 전체 선수는 몇 명인가?

In [36]:
len(df2[df2.Years.str.contains('2002')])

156

---

### 7. 이름에 carlos 단어가 들어가는 선수의 숫자는 몇 명인가?

In [37]:
df2[df2.Player.str.contains('carlos')]

Empty DataFrame
Columns: [Player, Goals, Years, Country, year_list, check, LenCup]
Index: []

In [42]:
len(df2[df2.Player.str.lower().str.contains('carlos')])

13

---

### 8. 월드컵 출전 횟수가 1회 뿐인 선수 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [43]:
df2.head()

,Player,Goals,Years,Country,year_list,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4

In [51]:
df2[df2.LenCup==1].sort_values('Goals', ascending=False).Player.values[0]

'Just Fontaine'

---

### 9. 월드컵 출전 횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [57]:
df2[df2.LenCup==1].Country.value_counts().index[0]

'Brazil'