In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv")
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

---

### 1. 대여 일자 별 데이터 수를 데이터 프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라.

In [7]:
result = df.대여일자.value_counts().sort_index().to_frame()
result
# sort_index : sort object by labels

             대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [11]:
answer = result[result.대여일자 == result.대여일자.max()].index[0]
answer

'2021-06-04'

---

### 2. 각 요일별 가장 많이 이용한 대여소의 이용 횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [12]:
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

In [17]:
df['day_name'] = pd.to_datetime(df['대여일자'])
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,2021-06-01
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,2021-06-01
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,2021-06-01
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,2021-06-01
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,2021-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,2021-06-14
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,2021-06-14
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,2021-06-14
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,2021-06-14
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,2021-06-14

In [18]:
df['day_name'] = df['day_name'].dt.day_name()
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

In [23]:
result = df.groupby(['day_name', '대여소번호']).size().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index()
result
# count와 size의 차이?
# count : NaN은 제외하고 계산. 함수이다. groupby.count()시 dataframe반환
# size : NaN 포함해서 계산 - 호출된 객체의 크기 또는 길이 반환. 데이터프레임의 속성이다. groupby.size()시 series반환
# to_frame : 주어진 시리즈를 데이터프레임으로 변환한다.

        day_name  대여소번호  size
0      Wednesday    502   282
1      Wednesday    207   257
2      Wednesday   2102   253
3      Wednesday   2715   253
4      Wednesday    152   223
...          ...    ...   ...
16869     Friday   3878     1
16870     Friday   4523     1
16871     Friday   9980     1
16872     Friday   9997     1
16873     Friday   9998     1

[16874 rows x 3 columns]

In [25]:
answer = result.drop_duplicates('day_name', keep='first').reset_index(drop=True)
answer

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

---

### 3. 나이대 별 대여 구분 코드의 (일일권/전체횟수) 비율을 구한 후, 가장 높은 비율을 가지는 나이대를 확인하라. <br><br> 일일권의 경우 일일권과 비회원 일일권을 모두 포함하라.

In [26]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [27]:
df[df.대여구분코드.isin(['일일권', '일일권(비회원)'])]

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
516,2021-06-01,0,1157,일일권,F,~10대,1,83.67,0.73,3153.60,35,Tuesday
517,2021-06-01,0,609,일일권,F,~10대,1,88.41,0.98,4212.59,47,Tuesday
518,2021-06-01,0,2135,일일권,F,~10대,1,55.34,0.62,2687.37,27,Tuesday
519,2021-06-01,0,731,일일권,F,20대,2,332.66,3.39,14594.51,76,Tuesday
520,2021-06-01,0,739,일일권,F,20대,2,168.08,1.72,7381.57,80,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678546,2021-06-14,23,227,일일권,M,30대,1,237.41,2.32,9992.08,54,Monday
678547,2021-06-14,23,1004,일일권,M,30대,1,100.41,0.91,3901.11,22,Monday
678548,2021-06-14,23,215,일일권,M,30대,1,162.24,1.46,6303.20,39,Monday
678549,2021-06-14,23,221,일일권,M,30대,1,11.58,0.10,450.00,4,Monday
678550,2021-06-14,23,1328,일일권,M,30대,1,42.35,0.36,1550.00,49,Monday

In [33]:
daily = df[df.대여구분코드.isin(['일일권', '일일권(비회원)'])].연령대코드.value_counts().sort_index()
daily

20대     59393
30대     31127
40대     12695
50대      4607
60대       819
70대~      158
~10대    11540
Name: 연령대코드, dtype: int64

In [35]:
total = df.연령대코드.value_counts().sort_index()
total

20대     247561
30대     186722
40대     114799
50대      70428
60대      19288
70대~      3227
~10대     36925
Name: 연령대코드, dtype: int64

In [36]:
ratio = (daily/total).sort_values(ascending=False)
ratio

~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64

In [37]:
ratio.index[0]

'~10대'

---

### 4. 연령대별 평균 이동거리를 구하여라

In [38]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [39]:
df[['연령대코드', '이동거리']]

       연령대코드     이동거리
0       ~10대     0.00
1       ~10대  1526.81
2       ~10대  1608.56
3       ~10대     0.00
4       ~10대   731.55
...      ...      ...
678945   60대  1279.01
678946   60대   400.00
678947   60대  2070.00
678948  70대~  5103.30
678949  70대~  1638.70

[678950 rows x 2 columns]

In [43]:
df[['연령대코드', '이동거리']].groupby(['연령대코드']).mean()

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

---

### 5. 연령대 코드가 20대인 데이터를 추출하고, 이동 거리 값이 추출한 데이터의 이동 거리 값의 평균 이상인 데이터를 추출한다. <br><br> 최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 <br><br>1행부터 200행까지 탄소량의 평균을 소수점 3째 자리까지 구하여라

In [73]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [75]:
tw_df = df[df.연령대코드 == "20대"].reset_index(drop=True)
tw_mean = tw_df[tw.이동거리 >=  tw_df.이동거리.mean()].reset_index(drop=True)
tw_mean

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,302,정기권,F,20대,1,141.61,1.38,5960.00,28,Tuesday
1,2021-06-01,0,2173,정기권,F,20대,1,86.47,0.96,4120.00,31,Tuesday
2,2021-06-01,0,116,정기권,F,20대,1,196.72,2.30,9935.24,42,Tuesday
3,2021-06-01,0,2619,정기권,F,20대,1,112.75,1.14,4909.12,35,Tuesday
4,2021-06-01,0,487,정기권,F,20대,1,113.91,1.21,5230.00,55,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
73666,2021-06-14,23,2102,정기권,M,20대,1,267.00,2.70,11624.95,44,Monday
73667,2021-06-14,23,1211,정기권,M,20대,1,100.64,0.81,3481.52,26,Monday
73668,2021-06-14,23,2034,정기권,M,20대,1,514.35,3.59,15462.66,49,Monday
73669,2021-06-14,23,502,정기권,M,20대,1,264.03,2.09,9010.00,43,Monday
73670,2021-06-14,23,722,정기권,M,20대,1,512.64,4.62,19916.21,97,Monday

In [76]:
tw_mean.탄소량 = tw_mean.탄소량.astype('float')

In [80]:
target = tw_mean.sort_values(['대여일자', '대여소번호'], ascending=False).reset_index(drop=True).iloc[:200]
target

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-14,19,9999,정기권,F,20대,1,201.03,2.07,8906.00,40,Monday
1,2021-06-14,20,4868,일일권,M,20대,2,265.25,2.03,8791.61,51,Monday
2,2021-06-14,16,4865,정기권,F,20대,1,87.77,0.79,3410.00,18,Monday
3,2021-06-14,21,4865,정기권,F,20대,1,91.21,0.81,3490.00,38,Monday
4,2021-06-14,21,4865,정기권,M,20대,2,106.95,1.01,4354.52,45,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2021-06-14,22,4367,정기권,M,20대,1,122.70,0.86,3688.71,20,Monday
196,2021-06-14,10,4362,일일권,F,20대,1,199.83,1.54,6639.59,27,Monday
197,2021-06-14,19,4362,일일권,F,20대,2,366.27,3.44,14784.79,204,Monday
198,2021-06-14,20,4362,정기권,M,20대,1,147.17,1.13,4889.96,21,Monday
199,2021-06-14,20,4362,일일권,M,20대,1,159.33,1.44,6190.00,53,Monday

In [82]:
result = round(target.탄소량.sum()/len(target), 3)
result

1.613

In [83]:
target.탄소량.sum()

322.63

---

### 6. 6월 7일   ~10대의 이용건수 중앙값은?

In [84]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [87]:
ten_df = df[(df.연령대코드 == "~10대") & (df.대여일자 == "2021-06-07")].reset_index(drop=True)
ten_df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-07,0,1150,정기권,F,~10대,1,64.99,0.59,2524.90,15,Monday
1,2021-06-07,0,1085,정기권,F,~10대,1,10.45,0.10,440.00,3,Monday
2,2021-06-07,0,2911,정기권,F,~10대,2,0.00,0.00,0.00,40,Monday
3,2021-06-07,0,3560,정기권,F,~10대,1,42.04,0.35,1516.67,18,Monday
4,2021-06-07,0,4510,정기권,F,~10대,1,52.45,0.54,2323.69,16,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...
2636,2021-06-07,23,3533,정기권,M,~10대,1,449.94,4.06,17480.00,72,Monday
2637,2021-06-07,23,2639,정기권,M,~10대,1,82.49,0.78,3359.73,19,Monday
2638,2021-06-07,23,768,정기권,M,~10대,1,39.63,0.40,1725.59,13,Monday
2639,2021-06-07,23,262,정기권,M,~10대,1,98.21,0.72,3100.00,46,Monday
2640,2021-06-07,23,1113,정기권,M,~10대,1,9.43,0.08,350.29,2,Monday

In [88]:
ten_df.이용건수.median()

1.0

---

### 7. 평일(월~금) 출근 시간대 (오전 6, 7, 8시)의 대여소별 이용 횟수를 구해 데이터 프레임 형태로 표현한 후, <br><br> 각 대여 시간별 이용 횟수의 상위 3개 대여소와 이용 횟수를 출력하라

In [89]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [95]:
df.day_name.unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
       'Monday'], dtype=object)

In [97]:
target= df[(df.day_name.isin(['Tuesday', 'Monday', 'Wednesday', 'Thursday', 'Friday'])&(df.대여시간.isin([6, 7, 8])))].reset_index(drop=True)
target

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,6,1274,정기권,F,20대,1,36.13,0.30,1303.45,7,Tuesday
1,2021-06-01,6,1444,정기권,F,20대,1,10.86,0.12,517.47,5,Tuesday
2,2021-06-01,6,302,정기권,F,20대,1,0.00,0.00,0.00,7,Tuesday
3,2021-06-01,6,3101,정기권,F,20대,1,133.81,1.26,5450.00,27,Tuesday
4,2021-06-01,6,1458,정기권,F,20대,1,15.44,0.18,780.00,34,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
75725,2021-06-14,8,530,정기권,M,70대~,1,43.23,0.32,1399.64,9,Monday
75726,2021-06-14,8,4318,정기권,M,70대~,1,17.66,0.21,910.00,7,Monday
75727,2021-06-14,8,4065,정기권,M,70대~,1,142.36,1.21,5210.00,24,Monday
75728,2021-06-14,8,2242,정기권,M,70대~,1,5.56,0.04,187.05,79,Monday
75729,2021-06-14,8,1201,정기권,M,70대~,1,150.80,1.30,5600.00,109,Monday

In [100]:
result = target.groupby(['대여시간', '대여소번호']).size().to_frame('이용횟수')
result

            이용횟수
대여시간 대여소번호
6    102       5
     103       8
     106       1
     109       4
     111       5
...          ...
8    4864      4
     4865     12
     4867      3
     4868      3
     9980      1

[6236 rows x 1 columns]

In [105]:
answer = result.sort_values(['대여시간', '대여소번호'], ascending=False).groupby('대여시간').head(3)
answer

            이용횟수
대여시간 대여소번호
8    9980      1
     4868      3
     4867      3
7    4868      4
     4867      2
     4865     12
6    4868      3
     4867      4
     4865      3

---

### 8. 이동 거리의 평균 이상 이동 거리 값을 가지는 데이터를 추출하여 <br><br>추출 데이터의 이동 거리 표본표준편차 값을 구하여라

In [108]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [112]:
mean_over = df[df.이동거리 >= df.이동거리.mean()].reset_index(drop=True).이동거리.std()
mean_over

5092.139707505305

---

### 9. 남성과 여성의 이동거리 값의 평균값을 구하여라

In [113]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday

In [114]:
df.성별.unique()

array(['F', 'M', 'm', 'f'], dtype=object)

In [115]:
df['sex'] = df.성별.map(lambda x:'남' if x in ['M', 'm'] else '여')
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name,sex
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday,여
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday,여
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday,여
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday,여
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday,여
...,...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday,남
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday,남
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday,남
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday,남
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday,남

In [117]:
answer = df[['sex', '이동거리']].groupby('sex').mean()
answer

            이동거리
sex
남    3209.110871
여    3468.575025