In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

---

### 1. Legendary 컬럼은 전설 포켓몬 유무를 나타낸다. 전설 포켓몬과 그렇지 않은 포켓몬들의 HP 평균의 차이를 구하여라

In [11]:
a = df[df.Legendary==True].HP.mean()
a

92.73846153846154

In [12]:
b = df[df.Legendary==False].HP.mean()
b

67.18231292517007

In [13]:
a-b

25.55614861329147

In [15]:
target = df.groupby('Legendary').mean().HP
target

Legendary
False    67.182313
True     92.738462
Name: HP, dtype: float64

In [17]:
result = target.values[1] - target.values[0]
result

25.55614861329147

---

### 2. Type 1은 주속성, Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [18]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [22]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [24]:
df["Type 2"].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [25]:
df["Type 2"].value_counts().index[0]

'Flying'

---

### 3. 가장 많은 Type 1의 종의 평균 attack을 평균 Defense로 나눈 값은?

In [26]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [29]:
max = df["Type 1"].value_counts().index[0]
max

'Water'

In [31]:
result = df[df['Type 1'] == max].Attack.mean() / df[df['Type 1']== max].Defense.mean()
result

1.0165238678090576

---

### 4. 포켓몬 세대 중 가장 많은 Legendary를 보유한 세대는 몇 세대인가?

In [38]:
df[df['Legendary'] == True].Generation.value_counts().index[0]

3

---

### 5. 'HP', 'Attack', 'Defense', 'Sp.Atk', 'Sp.Def', 'Speed' 간 상관 계수 중 <br><br>가장 절대값이 큰 두 변수와 그 결과값을 구하여라

In [49]:
target = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().abs().unstack().reset_index().rename(columns={0:"corr"})
target

    level_0  level_1      corr
0        HP       HP  1.000000
1        HP   Attack  0.422386
2        HP  Defense  0.239622
3        HP  Sp. Atk  0.362380
4        HP  Sp. Def  0.378718
5        HP    Speed  0.175952
6    Attack       HP  0.422386
7    Attack   Attack  1.000000
8    Attack  Defense  0.438687
9    Attack  Sp. Atk  0.396362
10   Attack  Sp. Def  0.263990
11   Attack    Speed  0.381240
12  Defense       HP  0.239622
13  Defense   Attack  0.438687
14  Defense  Defense  1.000000
15  Defense  Sp. Atk  0.223549
16  Defense  Sp. Def  0.510747
17  Defense    Speed  0.015227
18  Sp. Atk       HP  0.362380
19  Sp. Atk   Attack  0.396362
20  Sp. Atk  Defense  0.223549
21  Sp. Atk  Sp. Atk  1.000000
22  Sp. Atk  Sp. Def  0.506121
23  Sp. Atk    Speed  0.473018
24  Sp. Def       HP  0.378718
25  Sp. Def   Attack  0.263990
26  Sp. Def  Defense  0.510747
27  Sp. Def  Sp. Atk  0.506121
28  Sp. Def  Sp. Def  1.000000
29  Sp. Def    Speed  0.259133
30    Speed       HP  0.175952
31    Speed   Attack  0.381240
32    Speed  Defense  0.015227
33    Speed  Sp. Atk  0.473018
34    Speed  Sp. Def  0.259133
35    Speed    Speed  1.000000

In [57]:
result = target[target['corr']!=1].sort_values('corr', ascending=False).reset_index(drop=True)
result

    level_0  level_1      corr
0   Sp. Def  Defense  0.510747
1   Defense  Sp. Def  0.510747
2   Sp. Def  Sp. Atk  0.506121
3   Sp. Atk  Sp. Def  0.506121
4     Speed  Sp. Atk  0.473018
5   Sp. Atk    Speed  0.473018
6    Attack  Defense  0.438687
7   Defense   Attack  0.438687
8        HP   Attack  0.422386
9    Attack       HP  0.422386
10  Sp. Atk   Attack  0.396362
11   Attack  Sp. Atk  0.396362
12    Speed   Attack  0.381240
13   Attack    Speed  0.381240
14       HP  Sp. Def  0.378718
15  Sp. Def       HP  0.378718
16  Sp. Atk       HP  0.362380
17       HP  Sp. Atk  0.362380
18  Sp. Def   Attack  0.263990
19   Attack  Sp. Def  0.263990
20  Sp. Def    Speed  0.259133
21    Speed  Sp. Def  0.259133
22       HP  Defense  0.239622
23  Defense       HP  0.239622
24  Sp. Atk  Defense  0.223549
25  Defense  Sp. Atk  0.223549
26    Speed       HP  0.175952
27       HP    Speed  0.175952
28  Defense    Speed  0.015227
29    Speed  Defense  0.015227

In [59]:
answer = result.iloc[0]
answer

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 0, dtype: object

---

### 6. 각 Generation의 Attack으로 오름차순 정렬 시 상위 3개 데이터들의 Attack의 전체 평균을 구하여라

In [60]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [62]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [73]:
df.sort_values(['Generation', 'Attack'], ascending=True).groupby('Generation').head(3).reset_index(drop=True).Attack.mean()

19.5

---

### 7. 가장 흔하게 발견되는 (Type 1, Type 2) 의 쌍은 무엇인가?

In [85]:
df[['Type 1', 'Type 2']].value_counts().index[0]

('Normal', 'Flying')

In [86]:
df[['Type 1', 'Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

---

### 8. 한번 씩만 존재하는 (Type 1, Type 2)의 쌍의 갯수는 몇 개인가?

In [87]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [98]:
target = df[['Type 1', 'Type 2']].value_counts()
result = len(target[target==1])
result

39

---

### 9. 각 세대가 가진 (Type 1, Type 2)의 쌍 중 한 번 씩만 존재하는 쌍을 구하여라

In [99]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [100]:
target = df[['Type 1', 'Type 2']].value_counts()
target

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Length: 136, dtype: int64

In [103]:
target2 = target[target==1]
target2

Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
dtype: int64

In [109]:
lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[( df['Type 1'] == t1 )&( df['Type 2'] == t2 )]
    lst.append(sp)
    
    
result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
result

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64