In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv")
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

---

### 1. 전체 데이터의 수축기혈압(최고) - 이완기혈압(최저) 의 평균을 구하여라

In [3]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급'],
      dtype='object')

In [6]:
df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']

0        59.0
1        57.0
2        66.0
3        69.0
4        23.0
         ...
13391    59.0
13392    64.0
13393    49.0
13394    47.0
13395    31.0
Length: 13396, dtype: float64

In [7]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

---

### 2. 50~59세의 평균 신장을 구하여라

In [8]:
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [10]:
target = df[(df.측정나이>=50) & (df.측정나이<=59)]
target

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
15,52.0,F,153.1,52.4,32.6,87.0,154.0,22.6,7.4,9.0,131.0,D
17,53.0,M,181.9,76.5,20.1,78.0,131.0,37.5,18.0,51.0,195.0,C
28,50.0,F,159.9,59.5,25.2,84.0,140.0,28.7,25.8,32.0,170.0,A
31,58.0,F,152.7,49.1,25.1,68.0,124.0,23.0,12.9,0.0,122.0,D
...,...,...,...,...,...,...,...,...,...,...,...,...
13340,59.0,F,161.0,68.2,38.4,71.0,131.0,25.4,11.5,13.0,103.0,D
13343,54.0,F,160.0,60.8,34.5,77.0,128.0,23.9,12.9,14.0,120.0,C
13370,51.0,M,163.6,71.1,22.7,74.0,118.0,36.3,5.9,40.0,182.0,C
13374,55.0,F,149.4,49.9,38.8,65.0,104.0,20.3,19.9,16.0,114.0,C
13376,58.0,F,160.1,64.6,31.3,94.0,154.0,20.5,21.5,20.0,134.0,C

In [11]:
target.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급'],
      dtype='object')

In [12]:
target["신장 : cm"]

0        175.0
15       153.1
17       181.9
28       159.9
31       152.7
         ...
13340    161.0
13343    160.0
13370    163.6
13374    149.4
13376    160.1
Name: 신장 : cm, Length: 1769, dtype: float64

In [13]:
(target["신장 : cm"]).mean()

164.07490107405295

---

### 3. 연령대 별 인원수를 구하여라

In [26]:
def age_category(age):
    age = (age//10) * 10
    return age

In [27]:
age_category(df['측정나이']).value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 측정나이, dtype: int64

---

### 4. 연령대 별 등급의 숫자를 데이터 프레임으로 표현하라

In [21]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급'],
      dtype='object')

In [22]:
df['연령대'] = age_category(df['측정나이'])
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,연령대
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0

In [29]:
df.groupby(['연령대', '등급']).size()

연령대   등급
20.0  A     1585
      B     1443
      C     1455
      D     1348
30.0  A      743
      B      697
      C      626
      D      594
40.0  A      386
      B      428
      C      455
      D      532
50.0  A      321
      B      410
      C      474
      D      564
60.0  A      314
      B      371
      C      339
      D      311
dtype: int64

In [30]:
df.groupby(['연령대', '등급'], as_index=False).size()

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

---

### 5. 남성 중 A 등급과 D 등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [31]:
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,연령대
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0

In [34]:
df["측정회원성별"].unique()

array(['M', 'F'], dtype=object)

In [35]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '연령대'],
      dtype='object')

In [55]:
df[(df.측정회원성별=='M') & ( df.등급=="A" )].iloc[:, 4].mean()

16.88088084450403

In [57]:
df[( df.측정회원성별 =="M" )&( df.등급 == "D")].iloc[:, 4].mean()

24.812967330641488

In [59]:
df[(df.측정회원성별=='M') & ( df.등급=="A" )].iloc[:, 4].mean() - df[( df.측정회원성별 =="M" )&( df.등급 == "D")].iloc[:, 4].mean()

-7.932086486137457

In [60]:
abs(df[(df.측정회원성별=='M') & ( df.등급=="A" )].iloc[:, 4].mean() - df[( df.측정회원성별 =="M" )&( df.등급 == "D")].iloc[:, 4].mean())

7.932086486137457

---

### 6. 여성 중 A 등급과 D 등급의 체중 평균의 차이(큰 값에서 작은 값의 차) 를 구하여라

In [61]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '연령대'],
      dtype='object')

In [66]:
abs(df[( df.측정회원성별 == "F" )&( df.등급 == "A")].iloc[:, 3].mean() - df[( df.측정회원성별 == "F" )&( df.등급 == "D")].iloc[:, 3].mean())

5.176211590296511

---

### 7. bmi는 자신의 몸무게를 키의 제곱으로 나눈 값이다. <br><br>데이터의 bmi를 구한 다음 새로운 컬럼을 만들고, 남성의 bmi 평균을 구하여라

In [67]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '연령대'],
      dtype='object')

In [70]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100 *  df['신장 : cm']/100)
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,연령대,bmi
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0,23.053061
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0,17.581601
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0,27.190328
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0,27.305324
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0,24.257046

In [74]:
df[df['측정회원성별'] == "M"].bmi.mean()

24.461344098193027

---

### 8. bmi보다 체지방율이 높은 사람들의 체중 평균을 구하여라

In [76]:
df[df['bmi']<= df['체지방율 : %']]['체중 : kg'].mean()

61.740880639254314

---

### 9. 남성과 여성의 악력 평균의 차이를 구하여라

In [77]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '연령대', 'bmi'],
      dtype='object')

In [79]:
df[df['측정회원성별']=="M"]['악력D : kg'].mean() - df[df['측정회원성별']=='F']['악력D : kg'].mean()

17.559541850474677

---

### 10. 남성과 여성의 교차 윗몸 일으키기 평균의 차이를 구하여라

In [80]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '연령대', 'bmi'],
      dtype='object')

In [81]:
df[df['측정회원성별']=='M']['교차윗몸일으키기 : 회'].mean() - df[df['측정회원성별']=='F']['교차윗몸일으키기 : 회'].mean()

14.243156833157634