In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

---

### 1. 여름철 6월, 7월, 8월 이화동이 수영동보다 높은 기온을 가진 시간대는 몇 개인가?

In [9]:
df.dtypes

time      object
이화동강수    float64
이화동기온    float64
수영동강수    float64
수영동기온    float64
dtype: object

In [10]:
df.time = pd.to_datetime(df.time)
df.dtypes

time     datetime64[ns]
이화동강수           float64
이화동기온           float64
수영동강수           float64
수영동기온           float64
dtype: object

In [11]:
summer = df[df.time.dt.month.isin([6, 7, 8])].reset_index(drop=True)
summer

                    time  이화동강수      이화동기온  수영동강수      수영동기온
0    2020-06-01 00:00:00    0.0  21.100000    0.0  24.799999
1    2020-06-01 01:00:00    0.0  22.400000    0.0  23.500000
2    2020-06-01 02:00:00    0.0  23.100000    0.0  23.100000
3    2020-06-01 03:00:00    0.0  23.100000    0.0  25.400000
4    2020-06-01 04:00:00    0.0  23.799999    0.0  24.500000
...                  ...    ...        ...    ...        ...
2203 2020-08-31 19:00:00    0.0  24.299999    0.0  24.100000
2204 2020-08-31 20:00:00    0.0  23.900000    0.0  24.200001
2205 2020-08-31 21:00:00    0.0  24.000000    0.0  24.600000
2206 2020-08-31 22:00:00    0.0  24.600000    0.0  24.900000
2207 2020-08-31 23:00:00    0.0  25.000000    0.0  26.900000

[2208 rows x 5 columns]

In [13]:
answer = summer[summer.이화동기온 > summer.수영동기온]
len(answer)

1415

---

### 2. 이화동과 수영동의 최대 강수량의 시간대를 각각 구하여라

In [17]:
df.이화동강수.sort_values(ascending=False).iloc[0]

33.299999

In [28]:
a = df[df.이화동강수.isin([33.299999])].time

In [18]:
df.수영동강수.sort_values(ascending=False).iloc[0]

73.0

In [27]:
b = df[df.수영동강수.isin([73.0])].time

In [29]:
a, b

(6561   2020-09-30 09:00:00
 Name: time, dtype: datetime64[ns],
 4908   2020-07-23 12:00:00
 Name: time, dtype: datetime64[ns])

In [31]:
# 다른 사람 답안
answer1 = df.loc[df['이화동강수']==df['이화동강수'].max()].time.values
answer2 = df.loc[df['수영동강수']==df['수영동강수'].max()].time.values
print(answer1,answer2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']